:root{
  --headerHeight: 100px;
  --footerHeight: 50px;
  --mainHeight: calc(100vh - calc(var(--headerHeight) + var(--footerHeight)));
}

body{
  height: 100vh;
  padding: 0; 
  margin: 0;
  background-color: #f9fafb;
  color: white;
}

h1, h2, h3{
  padding: 0;
  margin: 0;
}

#header{
  background-color: black;
  height: var(--headerHeight);
  padding-left: 20px;
  display: flex;
  align-items: center;
}

#main{
  height: var(--mainHeight);
  display: grid;
  grid-template: 1fr / 1fr 4fr;
}

#nav{
  background-color: #eee;
  padding: 20px;
}
#nav ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: black;
}
#nav li{
  border: 1px solid #ccc;
  /* padding-left: 20px; */
}
#nav li:hover{
  background-color: #ccc;
  cursor: pointer;
}
#nav li:active{
  background-color: #ccc;
  cursor: pointer;
}
#nav button{
  width: 100%;
  text-align: left;
  border: none;
  padding: 10px 20px 10px 20px;
}
#nav li:last-child{
  display: grid;
  grid-template: 1fr / 4fr 1fr;
}
#nav button:hover{
  background-color: #ccc;
  cursor: pointer;
}
#nav button:active{
  background-color: #ccc;
  cursor: pointer;
}
#nav #newProjectButton{
  border-left: 1px solid #ccc;
  text-align: center;
}

#footer{
  background-color: black;
  height: var(--footerHeight);
  display: flex;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  align-items: center;
  justify-content: center;
}
#footer img{
  width: 30px;
  margin-left: 10px;
}
